<div class="loadingRoute"></div>
<div class="content general" style="width:100%;">
						<div class="general" >
							<div class="dummy-img visible"><iframe src="http://player.vimeo.com/video/60081684?title=0&amp;byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
							<h1 class="dummy-text visible">Why Mosaic</h1>
							<p class="dummy-text visible">The dictionary defines a Mosaic as "a combination of diverse elements forming a more or less coherent whole." When you look closely at a Mosaic, you will see many small diverse elements that have different colors, different textures, different sizes and different shapes. And they are beautiful in themselves. But as you begin to zoom out, you begin to see that all those different, diverse elements when put together form one great picture or idea that pulls everything together. When we think of the church we see a Mosaic, a gathering of people who are of different colors, different cultures, different socio-economic groups, different life stories, all brought together by one single idea, one single story, one single Person. The person of Jesus is what brings it all together. </p>
						</div>
					
					<span class="loading"></span>
				</div>