
		<section id="leftSide" class="overlay overlay-contentpush">
			<nav id="contentNav">
				{{#link-to 'home' classNames="closes"}}<div class="logo"></div>{{/link-to}}
				<ul>
					<li>{{#link-to 'event' classNames="closes"}}Events{{/link-to}}</li>
					<li>{{#link-to 'donate' classNames="closes"}}Donate{{/link-to}}</li>
					<li>{{#link-to 'sermon' classNames="closes"}}Sermons{{/link-to}}</li>
					<li>{{#link-to 'connect' classNames="closes"}}Connect{{/link-to}}</li>
                    <li>{{#link-to 'mcg' classNames="closes"}}City Group{{/link-to}}</li>
					<li>{{#link-to 'location' classNames="closes"}}Location{{/link-to}}</li>


				</ul>
				
			</nav>
			
			<nav id="homeNav">
				<ul>
					<li>{{#link-to 'vision' id="vision" classNames="closes"}}Vision{{/link-to}}</li>
					<li>{{#link-to 'about' id="about" classNames="closes"}}Why Mosaic{{/link-to}}</li>
					<li>{{#link-to 'leadership' id="leadership" classNames="closes"}}LeaderShip{{/link-to}}</li>
				</ul>
				<section id="social">
					<a href='https://www.facebook.com/Mosaicchurchmemphis' target="_blank" class='social' title='&#xe227;'></a>
					<a href='https://twitter.com/MosaicMemphis' class='social' target="_blank" title='&#xe286;'></a>
				</section>
			</nav>
		</section>
		<section id="rightSide" class="container">
		<header id="topBar"><p><button {{action "toggleOverlay"}} id="trigger-overlay"></button></p></header> 
			
			{{ outlet}}
		</section>
	

