<div class="loadingRoute"></div>
<div class="content general" style="width:100%">
						<div class="general">
							<div class="dummy-img visible" style="background:url(img/connect.jpg) center;"></div>
							<h1 class="dummy-text visible">Connect</h1>
							<p class="dummy-text visible">We are currently having weekly meetings every Thursday 6:30pm at 1357 Maria St. Memphis, Tn. 38122. This is a great way to connect with us, to see what we are about and to see the burden that helped birth our vision. Stay tuned to the website for the latest info and sign-up here to our email list. And of course you can connect with us through Facebook and Twitter.</p>
							
							<div class="dummy-text visible">
								<form  action="http://mosaicchurchmemphis.us6.list-manage2.com/subscribe/post?u=c8857dfb105eb25c6725aba05&amp;id=02db05b428" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
										<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
										<div class="mc-field-group">
											<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
										</label>
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
										</div>
										<div class="mc-field-group">
											<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
										</label>
											<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
										</div>
										<div class="mc-field-group">
											<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
										</label>
											<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
										</div>
											<div id="mce-responses" class="clear" style="padding-top:5px;">
												<div class="response" id="mce-error-response" style="display:none"></div>
												<div class="response" id="mce-success-response" style="display:none"></div>
											</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
										</form>
							</div>
						</div>
					
					<span class="loading"></span>
				</div>