<div class="loadingRoute"></div>
<div class="content general" style="width:100%">
						<div class="general">
							<div class="dummy-img visible" style="background:url(img/connect.jpg) center;"></div>
							<h1 class="dummy-text visible">Connect</h1>
							<p class="dummy-text visible">At Mosaic we believe that the church should be a place where you are challenged and at the same time accepted regardless of what you believe, or what culture you come from or background you have.    
We also believe that people connect in different ways and at different levels. So at Mosaic there are 3 ways you can connect with us:  In our homes at one of our Missional Communities (small groups), out in everyday life & at our Sunday morning services 10:30am @ Grahamwood Elementary School, 3950 Summer Ave Memphis, TN 38122.  

You can also connect with us through Facebook, Twitter or by signing up to our email list.</p>
							
							<div class="dummy-text visible">
								<form  action="http://mosaicchurchmemphis.us6.list-manage2.com/subscribe/post?u=c8857dfb105eb25c6725aba05&amp;id=02db05b428" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
										<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
										<div class="mc-field-group">
											<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
										</label>
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
										</div>
										<div class="mc-field-group">
											<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
										</label>
											<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
										</div>
										<div class="mc-field-group">
											<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
										</label>
											<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
										</div>
											<div id="mce-responses" class="clear" style="padding-top:5px;">
												<div class="response" id="mce-error-response" style="display:none"></div>
												<div class="response" id="mce-success-response" style="display:none"></div>
											</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
										</form>
							</div>
						</div>
					
					<span class="loading"></span>
				</div>