<div class="loadingRoute"></div>
<div class="content general" style="width:100%;">
						<div class="general">
							<div class="dummy-img visible google-maps"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3262.2997678084394!2d-89.92934!3d35.149144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887f8160a69cb30d%3A0xe591485e2c81347b!2sGrahamwood+Elementary+School!5e0!3m2!1sen!2sus!4v1409764690597" width="600" height="450" frameborder="0" style="border:0"></iframe></div>
							<h1 class="dummy-text visible">Location</h1>
							<p class="dummy-text visible">Our service is at Grahamwood Elementary School at 10:30am.  Our desire is to bring the gospel into a new urban environment in a language they can comprehend and with a cultural form they can connect with. Mosaic Church will be that kind of church. We believe God is calling us to be a church of many nations, cultures, and socio-economic backgrounds. And we believe God has called us to embrace, love, and renew the city. </p>
						</div>
					
					<span class="loading"></span>
				</div>