<div class="loadingRoute"></div>
<div class="content general" style="width:100%;">
						<div class="general">
							<div class="dummy-img visible google-maps"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3261.507166465344!2d-89.9314179!3d35.1689099!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887f8178e8c580b7%3A0x1e8b22c4c602f763!2s1357+Maria+St!5e0!3m2!1sen!2sus!4v1397161395506" width="600" height="450" frameborder="0" style="border:0"></iframe></div>
							<h1 class="dummy-text visible">Location</h1>
							<p class="dummy-text visible">We are currently having weekly meetings on Thursdays at the location above.  We are raising support to begin meeting at Grahamwood School in the fall. This community needs a church that will attempt to bring the gospel into a new urban environment in a language they can comprehend and in a cultural form they can connect with. Mosaic Church will be that kind of church. We believe God is calling us to be a church of many nations, cultures, and socio-economic backgrounds. And we believe God has called us to embrace, love, and renew the city. So we choose this area because it is de-churched, diverse and in the city.</p>
						</div>
					
					<span class="loading"></span>
				</div>