<div class="loadingRoute"></div>
<div class="content general" style="width:100%">
    <div class="general">
        <div class="dummy-img visible" style="background:url(img/mcg.jpg) center;"></div>
        <h1 class="dummy-text visible">Mosaic CityGroups</h1>
        <p class="dummy-text visible">At Mosaic we believe that the church should be a place where you are challenged and at the same time accepted regardless of what you believe, or what culture you come from or background you have.  A big part of our Mosaic life are City Groups.
            What are city groups?
            The name says it all.  City is where we do life.  It’s our neighborhoods, our schools, and our shops.  It’s where we eat, drink, play, work, sleep, struggle, and grow.  A Group communicates togetherness and family.   A City Group is a group of people who do life in the city together.
            City Groups are where we grow in the gospel, in the context of family, while living on mission.

            Mosaic City Groups meet in 4 different homes:
            Nutbush MCG meets in the home of Trevor & Laney Dodson Tuesdays 6:00pm @ 1357 Maria St. Memphis, TN. 38122.
            Plaza Gardens MCG meets in the home of Ali & Anetta Chambers Thursdays 6:30pm @ 3458 Northwood Dr. Memphis, TN. 38111.
            Berclair MCG meets in the home of Weston & Daley Perry Thursdays 7:00pm @ 4424 Ferdale Rd. Memphis, TN. 38122.
            East Memphis/University of Memphis MCG meets at the home of Brad & Janice Wyatt Wednesdays 6:30pm @ 533 South Goodlett Memphis, TN. 38117</p>
    </div>

    <span class="loading"></span>
</div>