<div class="loadingRoute"></div>
<div class="content general" style="width:100%;">
						<div class="general">
							<div class="dummy-img visible"><iframe src="http://player.vimeo.com/video/97014009?title=0&amp;byline=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
							<h1 class="dummy-text visible">Vision</h1>
							<p class="dummy-text visible">Our vision flows out of two questions: What is the Church? & What is its mission? The answer to these questions help shape the vision for Mosaic Church. The church in the New Testament was being changed, empowered and set free by the gospel of Jesus. It didn't stop with them but it quickly spread. Hugh Halter, author of AND: The Gathered and scattered Church defined the church as “The gathered community of God’s people, sent out into the world.” So our mission is Making disciples of Jesus that transform the city. From that flows our vision of Spreading the gospel that transforms lives while engaging the diversity of the city. </p>
						</div>
					
					<span class="loading"></span>
				</div>