@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);

* {
  margin:5px;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  outline:none;
  border:0;
}

html,body {
	height:100%;
  background:#19dd89;
  overflow:hidden;
  margin:0px;
}

.wrap {
  max-width:900px;
  position:relative;
  width:100%;
  float:left;
  margin:0 auto;
  
}

.wrap h1 {
  font-size:2em;
  font-family:"Gentium Book Basic";
  font-weight:900;
  color:#fff;
  text-shadow:0px 1px 0px rgba(0,0,0,.1);
  -webkit-font-smoothing: antialiased;
  letter-spacing:1px;
}

.wrap p {
  font-family:"Gentium Book Basic";
  font-size:1.5em;
  color:#fff;
  text-shadow:0px 1px 0px rgba(0,0,0,.1);
  letter-spacing:1px;
}

.fa {
  margin-right:10px;
}

.mainWrap {
  max-width:800px;
  width:80%;
  margin:0 auto;
  padding-bottom:100px;
}

.name,
.email {
  width:90%;
  position:relative;
  border:0;
  background:#fff;
  padding:20px;
  font-size:1.2em;
  font-family:"Gentium Book Basic";
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  color:#111;
}

::-webkit-input-placeholder {
  color: #696969;
}

:-moz-placeholder {
 color: #696969; 
}

::-moz-placeholder {  
 color: #696969;
}

:-ms-input-placeholder {  
 color: #696969;
}



.mainArea {
  width:90%;
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  font-size:1.4em;
  margin-top:20px;
  padding:20px;
  font-family:"Gentium Book Basic";
  color:#111;
  height:200px;
  resize:none;
}

.bigBtn {
  width:50%;
  padding:20px;
  text-align:center;
  margin-top:20px;
  font-size:2em;
  font-family:"Gentium Book Basic";
  background:#ffc60d;
  color:#fff;
  cursor:pointer;
}

/* Landscape mobile & down */
@media (max-width: 30em) {
  .wrap h1 {
    font-size:1em;
    letter-spacing:0;
  }
  
  .wrap p {
    font-size:1.1em;
    line-height:1.4em;
  }
  
  .name,.email {
    width:100%;
  }
  
  .email {
    margin-top:20px;
  }
  
  .bigBtn {
    font-size:1.3em;
  }
  
}
#books{
	width:50%;
	height:100%;
	float:left;
	margin:0px
}

#items{
	width:50%;
	float:right;
	height:100%;
	background:#ccc;
	margin:0px;
	overflow:auto;

}

.bookContainer {
    outline: 1px solid #aaa;
    width: 550px;
    height: 200px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookContainer img {
    float: left;
	width:100px;
	height:100px;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.bookContainer button {
    float: right;
    margin: 10px;
	padding:0;
	width:50px;
	height:30px;
	font-size:1em;
}
#addBook{

	margin:10px;

}
/*#addBook label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addBook label, #addBook input {
    display: block;
    margin-bottom: 10px;
    float: left;
}

#addBook label[for="title"], #addBook label[for="releaseDate"],#addBook label[for="video"],#addBook label[for="yesLabel"],#addBook label[for="noChecked"],#addBook label[for="caption"] {
    clear: both;
}

#addBook button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addBook div {
    width: 550px;
}

#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}*/